<ion-view view-title="Sign Translator" id="translator-view">
   <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons side="left">
          <button class="button back-button buttons button-clear header-item" ng-click="vm.goTo($event)">
            <i class="icon ion-ios-arrow-back"></i>
          </button>
        </ion-nav-buttons>

        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
          </ion-nav-buttons>
    </ion-nav-bar>
   
    <ion-content class="padding has-header">
      <div class="list card padding card-category">
           <div class="item item-body ">
                <p id="academy-markdown16" style="margin-top:-10px;color:#000000;font-size:13px;" class=" ">
                    Type any word or sentence to convert.
                </p>
            </div>
            <div class="list list1">
              <form id="translator-form6">
                    <label class="item item-input">
                        
                        <textarea class="form-control" rows="5" id="comment" placeholder="Type words or sentence" ng-model="vm.sentence.word"></textarea>
                        <button class="button-clear" style="color: black" on-tap="vm.ok($event)">GO!!</button>
                    </label>  

              </form>
              <br>
              <p ng-show="vm.tokens">Tokens: </p>
              <p ng-show="vm.tokens" class="text-wrap">{{vm.tokens}}</p>
              <br ng-show="vm.pos">
              <p ng-show="vm.pos">Parts of Speach Tagging:
              <p ng-show="vm.pos" class="text-wrap"> {{vm.pos}} </p>

              <div ng-show="vm.warnings" style="border: 1px solid yellow"> 
                <p class="text-wrap" style ="padding: 8px;"><span style="font-size: 14px; color: orange"><strong>Warning!</strong></span></p>
                <p ng-repeat="warning in vm.warnings" style="font-size: 13px; padding: 8px;">{{warning.reason}}</p>
              </div>

            </div>
            <div ng-if="vm.showVideo == true">
                <button class="button-clear video-close-btn" on-tap="vm.closeVideo($event)"><i class="icon ion-close"></i></button>
                <div class="list card video-card" >
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video8" class=" ">
                        <video controls autoplay="true" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;" ng-repeat="video in vm.videos">
                            <source ng-src="{{video}}">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>