<ion-view title="Academy" id="academy-view">
    <ion-content class="has-header padding">
        <div class="list list1">
          <form id="academy-form6">
                <label class="item item-input">
                    <input type="search" placeholder="Search Words">
                    <button class="button-clear"><i class="icon ion-search" style="font-size: 18px"></i></button>
                </label>  
          </form>
        </div>    
        <div class="list card ">
            <div class="item item-body ">
                <p id="academy-markdown16" style="margin-top:0px;color:#000000;font-size:13px;" class=" ">Welcome to Handicaprio Academy, here you will can learn sign language by searching for the words and there will be a video of our instructor that will teach you the sign language.</p>
            </div>
            <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video5" class=" ">
                <iframe src="https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
            </div>
            <div class="item item-body " id="academy-list-item-container23">
                <p id="academy-markdown17" style="margin-top:0px;color:#000000;font-size:12px;" class=" ">Introduction: Welcome to Handicaprio Academy</p>
            </div>
        </div>
        <div class="list card card-popular-word">
            <div class="item item-body " >
                <h2 id="academy-heading2" style="color:#000000;font-weight:600;" class=" ">Most Popular Words</h2>
                <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" show-pager="false">
                    <ion-slide>
                        <div class="list card " >
                            <div class=" item item-image">
                               <a class="video">
                                   <span ng-click="vm.openModal($event)"></span>
                                    <img class="full-image" src="img/phone.jpg" width="100%" height="auto" ng-click="vm.openModal($event)">
                               </a>
                            </div>
                            <div class="item item-body " id="academy-list-item-container33">

                                <p id="academy-markdown25" style="margin-top:0px;color:#000000;" class=" ">Words: Please, thanku and sorry</p>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="list card " >
                            <div class=" item item-image">
                               <a class="video">
                                   <span ng-click="vm.openModal($event)"></span>
                                    <img class="full-image" src="img/phone.jpg" width="100%" height="auto" ng-click="vm.openModal($event)">
                               </a>
                            </div>
                            <div class="item item-body " id="academy-list-item-container33">

                                <p id="academy-markdown25" style="margin-top:0px;color:#000000;" class=" ">Words: Please, thanku and sorry</p>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="list card " >
                            <div class=" item item-image">
                               <a class="video">
                                   <span ng-click="vm.openModal($event)"></span>
                                    <img class="full-image" src="img/phone.jpg" width="100%" height="auto" ng-click="vm.openModal($event)">
                               </a>
                            </div>
                            <div class="item item-body " id="academy-list-item-container33">

                                <p id="academy-markdown25" style="margin-top:0px;color:#000000;" class=" ">Words: Please, thanku and sorry</p>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
                
            </div>
        </div>
        
        <div class="list card card-learn" >
            <div class="item item-body ">
                <h2 id="academy-heading4" style="color:#000000;font-weight:600;" class=" ">Learn American Sign Language</h2>
                <div class="list card " >
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video8" class=" ">
                        <iframe src="https://www.youtube.com/embed/c8WIr61r1Do?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>
                    <div class="item item-body " id="academy-list-item-container31">
                        <p id="academy-markdown22" style="margin-top:0px;color:#000000;" class=" ">Learn American Sign Language (ASL) Lesson 1</p>
                    </div>
                </div>
                <div class="list card card-learn-1">
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video9" class=" ">
                        <iframe src="https://www.youtube.com/embed/c8WIr61r1Do?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>
                    <div class="item item-body " id="academy-list-item-container32">
                        <p id="academy-markdown23" style="margin-top:0px;color:#000000;" class=" ">Learn American Sign Language (ASL) Lesson 2</p>
                    </div>
                </div>
                <p id="academy-markdown24" style="color:#000000;text-align:center;" class=" ">Load more</p>
            </div>
        </div>
    </ion-content>
</ion-view>