<ion-view title="Academy" id="academy-view">
    <ion-content class="">
        <div class="list card academy-card">
            <div class=" item ">
                <div class="row">
                    <div class="col col-30">
                    </div>
                    <div class="col col-40 ">
                        <img class="header-img" src="img/book1.png"  >
                        <h3>ACADEMY</h3>
                    </div>
                    <div class="col col-30">
                    </div>
                </div>
                
            </div>  
        </div>

        <div class="row">
            <div class="col col-50">
                <div class="list card">

                  <div class="item item-body no-padding">
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video5">

                        <iframe src="https://www.youtube.com/embed/lYhAAMDQl-Q?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>

                    </div>

                    <p class="padding">
                      ASL ABC Lesson and Song - Learn Sign Language Alphabet
                    </p>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item positive-900">
                            <i class="icon ion-thumbsup"></i>
                            2
                        </a>
                        <a class="tab-item assertive">
                            <i class="icon ion-play"></i>
                        </a>
                    </div>
                  </div>

                </div>
            </div>
        
            <div class="col col-50">
                <div class="list card">

                  <div class="item item-body no-padding">
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video5">

                        <iframe src="https://www.youtube.com/embed/-3ywrgCA-1I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                        
                    </div>
                    <p class="padding">
                       Learn American Sign Language: Gestures and Body Language
                    </p>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item positive-900">
                            <i class="icon ion-thumbsup"></i>
                            2
                        </a>
                        <a class="tab-item assertive">
                            <i class="icon ion-play"></i>
                        </a>
                    </div>
                  </div>

                </div>
            </div>
        </div>

        <div class="list card">

          <div class="item item-body no-padding">
            <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video5">

                <iframe src="https://www.youtube.com/embed/RhQvlq-mZtA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                
            </div>
            <p class="padding">
              Learn American Sign Language: Beginner conversational words and phrases in ASL
            </p>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item positive-900">
                    <i class="icon ion-thumbsup"></i>
                    2
                </a>
                <a class="tab-item assertive">
                    <i class="icon ion-play"></i>
                </a>
            </div>
          </div>

        </div>

        <div class="row">
            <div class="col col-50">
                <div class="list card">

                  <div class="item item-body no-padding">
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video5">

                        <iframe src="https://www.youtube.com/embed/yc1Z1pPeD8I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>

                    </div>

                    <p class="padding">
                      Sign Language 101 Lesson 1 - Gestures & Body Language
                    </p>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item positive-900">
                            <i class="icon ion-thumbsup"></i>
                            2
                        </a>
                        <a class="tab-item assertive">
                            <i class="icon ion-play"></i>
                        </a>
                    </div>
                  </div>

                </div>
            </div>
        
            <div class="col col-50">
                <div class="list card">

                  <div class="item item-body no-padding">
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video5">

                        <iframe src="https://www.youtube.com/embed/EFdIE11qnko?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                        
                    </div>
                    <p class="padding">
                      ASL Food Lesson for Kids - Learn how to sign Foods with Firees
                    </p>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item positive-900">
                            <i class="icon ion-thumbsup"></i>
                            2
                        </a>
                        <a class="tab-item assertive">
                            <i class="icon ion-play"></i>
                        </a>
                    </div>
                  </div>

                </div>
            </div>
        </div>

        <div class="list card">

          <div class="item item-body no-padding">
            <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video5">

                <iframe src="https://www.youtube.com/embed/5uW2OQtEzUc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                
            </div>
            <p class="padding">
              Sign Language for Kids - Vol. 13 Welcome to School
            </p>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item positive-900">
                    <i class="icon ion-thumbsup"></i>
                    2
                </a>
                <a class="tab-item assertive">
                    <i class="icon ion-play"></i>
                </a>
            </div>
          </div>

        </div>

        <a style="padding: 20px; margin-left:80px; font-family: 'Montserrat', sans-serif;">  Load More  </a>
        
        <!-- <div class="list card card-popular-word">
            <div class="item item-body " >
                <h2 id="academy-heading2" style="color:#000000;font-weight:600;" class=" ">Most Popular Words</h2>
                <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" show-pager="false">
                    <ion-slide>
                        <div class="list card " >
                            <div class=" item item-image">
                               <a class="video">
                                   <span ng-click="vm.openModal($event)"></span>
                                    <img class="full-image" src="img/phone.jpg" width="100%" height="auto" ng-click="vm.openModal($event)">
                               </a>
                            </div>
                            <div class="item item-body " id="academy-list-item-container33">

                                <p id="academy-markdown25" style="margin-top:0px;color:#000000;" class=" ">Words: Please, thanku and sorry</p>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="list card " >
                            <div class=" item item-image">
                               <a class="video">
                                   <span ng-click="vm.openModal($event)"></span>
                                    <img class="full-image" src="img/phone.jpg" width="100%" height="auto" ng-click="vm.openModal($event)">
                               </a>
                            </div>
                            <div class="item item-body " id="academy-list-item-container33">

                                <p id="academy-markdown25" style="margin-top:0px;color:#000000;" class=" ">Words: Please, thanku and sorry</p>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="list card " >
                            <div class=" item item-image">
                               <a class="video">
                                   <span ng-click="vm.openModal($event)"></span>
                                    <img class="full-image" src="img/phone.jpg" width="100%" height="auto" ng-click="vm.openModal($event)">
                               </a>
                            </div>
                            <div class="item item-body " id="academy-list-item-container33">

                                <p id="academy-markdown25" style="margin-top:0px;color:#000000;" class=" ">Words: Please, thanku and sorry</p>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
                
            </div>
        </div>
        
        <div class="list card card-learn" >
            <div class="item item-body ">
                <h2 id="academy-heading4" style="color:#000000;font-weight:600;" class=" ">Learn American Sign Language</h2>
                <div class="list card " >
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video8" class=" ">
                        <iframe src="https://www.youtube.com/embed/c8WIr61r1Do?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>
                    <div class="item item-body " id="academy-list-item-container31">
                        <p id="academy-markdown22" style="margin-top:0px;color:#000000;" class=" ">Learn American Sign Language (ASL) Lesson 1</p>
                    </div>
                </div>
                <div class="list card card-learn-1">
                    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="academy-video9" class=" ">
                        <iframe src="https://www.youtube.com/embed/c8WIr61r1Do?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>
                    <div class="item item-body " id="academy-list-item-container32">
                        <p id="academy-markdown23" style="margin-top:0px;color:#000000;" class=" ">Learn American Sign Language (ASL) Lesson 2</p>
                    </div>
                </div>
                <p id="academy-markdown24" style="color:#000000;text-align:center;" class=" ">Load more</p>
            </div>
        </div> -->
    </ion-content>
</ion-view>